
body{
background: #EED8C9;
}

.intro{
    width: 25%;
    float: left;
    display: grid;
    height: -webkit-fill-available;
    font-size: 1em;
    color: #5d5b62;
    font-family: "Arial";
    margin-top: 30%;
    height: fit-content;
    padding-left: 30px;
    padding-right: 20px;
}


#logo{
    text-align: center;
    font-family: 'Brush Script MT';
    font-size: 3em;
    color: #ec364f;
}
/*Widgetul*/
.coca{
    width: 75%;
    float: left;
    display: inline-flex;
    margin-top: 7%;
}

/*Calendarul*/

header {
    display: flex;
    align-items: center;
    font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
    justify-content: center;
    margin-bottom: 2em;
    color: black;
    min-height: 5vh;
    text-align: center;
}


/*Calendarul*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

body {
    background: #dcdcdc;
    font-family: 'Roboto', sans-serif; }

#calendar{
    width: 60%;
    height: 40%;
    display: inline-block;
    margin: auto;
}
/*Partea stange*/
.left-side{
    display: inline-block;
    width: 40%;
    float: left;
    padding: 30px;
    background-color: #ec364f;
    height: fit-content;
    color: white;
    border-radius: 40px 0 0 40px;
}
.current-day{
    padding-top: 40px;
    font-size: 3em;
}
.current-day-events{
    padding-top: 40px;
    padding-bottom: 30%;
}
.add-event-day{
    background: transparent;
    border-bottom: 1px solid white;
    width: 100%;
    height: 34px;
    font-size: 20px;
}
.add-event-day-field{
    background: transparent;
    display: inline-block;
    float: left;
    border: none;
    padding-bottom: 5px;
}
.add-event-day-field::placeholder{
    color: #c4b5b2;
}
.fa-plus-circle{
    padding-bottom: 5px;
    font-size: 1em;
}
.right-side{
    display: inline-block;
    width: 60%;
    float: right;
    background-color: white;
    padding: 30px;
    border-radius: 0 40px 40px 0;
}

.text-center {
    text-align: center; }

.text-right {
    text-align: right; }

.text-muted {
    color: #777; }

.cursor-pointer {
    cursor: pointer; }

.calendar-change-year-slider{
    display: inline-block;
    float: right;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #777;
    color: #5d5b62;
}
.current-day-now{
    background-color: #ec364f;
    color: white;
    border-radius: 10px;
}




.calendar h1.calendar-left-side-day {
    font-size: 4em; }
.calendar .add-event-day .add-event-day-field {
    border: none;
    background: transparent;
    height: 34px;
    width: 100%;
    font-size: 16px;
    padding-right: 30px; }
.calendar .add-event-day .add-event-day-field:focus {
    outline: none; }
.calendar .add-event-day .add-event-day-field::placeholder {
    color: #ccc; }
.calendar .add-event-day .add-event-day-field-btn {
    left: inherit;
    line-height: 34px; }
.calendar .right-side {
    width: 60%;
    float: right; }
.calendar .calendar-change-year {
    font-size: 20px; }
.calendar .calendar-change-year .calendar-change-year-slider {
    margin: 15px 0;
    color: #737373; }
.calendar .calendar-change-year .calendar-change-year-slider .fa:hover {
    color: #404040; }
.calendar .calendar-days, .calendar .calendar-week, .calendar .calendar-month {
    list-style: none;
    font-size: 0; }
.calendar .calendar-days li, .calendar .calendar-week li, .calendar .calendar-month li {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    font-size: 16px; }
.calendar .calendar-month li {
    width: 8%;
    height: 30px;
    line-height: 30px;
    color: #868686;
    font-size: 13px; }
.calendar .calendar-month li.active {
    color: #171717;
    font-weight: 600; }
.calendar .calendar-days li {
    width: 14%;
    height: 50px;
    line-height: 50px; }

.calendar .current-day-now {
    color: white;
    background-color: #ec364f; }
.calendar .calendar-week {
    margin-bottom: 30px;
    font-weight: 600;
    color: #737373;
    border-top: 1px solid #ccc; }

#calendar-table thead{
    color:#737373;
    border-bottom: 1px solid #737373;
}
#calendar-table{
    border-spacing: 20px 10px;
    padding-top: 15%;
    margin-left: auto;
    margin-right: auto;
}
#calendar-body{
    font-size: 1.5em;
}
.form-inline{
    padding-top: 5%;
}
/*Optiunile*/
.option {
    display: inline-grid;
    align-content: center;
    margin: auto;
    width: min-content;
}


td:hover{
  background-color: #737373;
    border-radius: 10px
}

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background: #eee;
    border-radius: 50%;
}
.fa-angle-left{
    float: left;
    font-size: 2em;
}
.fa-angle-right{
    font-size: 3em;
}
#monthAndYear{
    width: fit-content;
    float: left;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 2em;


/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #ec364f;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}



/*Responsiveness*/
@media only screen and (max-width: 1250px) {
    .calendar{
        transform: scale(0.75);
    }
    
}